.logo {
  margin-left: 15px;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.site-layout-background {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 0px 5px 14px 2px rgb(3 3 3 / 10%);
  width: 40px;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  display: flex;
  align-items: center;
  overflow: hidden;
  line-height: 64px;
  transition: all 0.3s;
  box-shadow: 0px 5px 14px 2px rgb(3 3 3 / 10%);
}

.sidebar-mobile {
  position: fixed; 
  z-index: 99;
}

.menu-sidebar-fixed {
  position: fixed;
}

.avatar {
  background-color: #87d068;
  margin-right: 5px;
  margin-bottom: 2px;
}

.content-nav {
  display: flex;
  align-items: center;
}

.content-avatar {
  cursor: pointer;
  margin-left: 5px;
  display: flex;
}

.content-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 5px;
}

.user {
  line-height: 15px;
}

.user-name {
  font-size: 15px;
  font-weight: 450;
}

.user-group {
  color: #1890ff;
}

.inner-content {
  padding: 24px;
  height: 100%;
}

.logo-name {
  margin-top: 8px;
  margin-left: 4px;
}